@import '../../styles/functions';

input[type="text"],
textarea {
    width: 100%;
    border:  size(2) solid rgb(255, 0, 0);
    border-radius: size(8);
    padding:  size(8) size(8);
    box-sizing: border-box;
   
}