<app-square-button>hello</app-square-button>
<br />

<app-square-button [buttonType]="'Primary'">hello</app-square-button>
<br />

<app-square-button [buttonType]="'Secondary'">hello</app-square-button>
<br />

<app-textarea [formControl]="formControl"></app-textarea>
<br />

<app-input [formControl]="formControl"></app-input>
<br />

<app-select [formControl]="formControl">
  <app-option [title]="'title'"></app-option>
  <app-option [title]="'titasle'"></app-option>
  <app-option [title]="'tiastle'"></app-option>
  <app-option [title]="'tdasitle'"></app-option>
</app-select>
<br />

<app-checkbox [formControl]="formControl" [value]="'test value'" [checked]="true">
  test
</app-checkbox>

<br />

<app-checkbox [formControl]="formControl" [value]="'seoncd value'">
  second value
</app-checkbox>

<app-radio [formControl]="formControl" [value]="'val1'" [name]="'hii'">Hello</app-radio>
<app-radio [name]="'hii'" [formControl]="formControl" [value]="'val2'">Hello</app-radio>
<app-radio [name]="'hii2'">Hello</app-radio>
<app-radio [name]="'hii2'">Hello</app-radio>


<div style='height:50px;'>
  <app-placeholder [appearance]='"line"'></app-placeholder>
</div>

<div style='height:200px;width:100px'>
  <app-placeholder [appearance]='"square"'></app-placeholder>
</div>


<div style="height:200px;border:2px bue dashed">
  <span *ngFor='let item of [].constructor(3)'>
    <app-image [src]="'https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg'"></app-image>

  </span>

</div>
<div style="border: 2px red dashed" (visibilityChange)="test($event)" elementInView>
  sadasdas
</div>