@import '/src/app/core-ui/styles/_variables';
@import '/src/app/core-ui/styles/_functions';
@import '/src/app/core-ui/styles/_mixins';

// Buttons
button:focus {
    outline: none !important;
    box-shadow: none !important;
}
:focus {
    outline: none;
}
.primary-button{
      @include button-colors($primary, white) 
}

.secondary-button {
    @include button-colors($secondary, white)
}

.mm-btn{
    @include mm-btn-basic
}


